.navbar-bg {
    background: #fff !important;
    border: 1px solid #B8CADA !important;
  }
  .hb-button {
    background: #ff7a59 !important;
    height: 49px !important;
    border: 1px solid #ff7a59 !important;
    border-radius: 3px !important;
    min-width: 158px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    &:hover {
      background: #FF8F73 !important;
    }
  }
  .hb-button-disabled {
    cursor: not-allowed !important;
    opacity: 0.7 !important;
    border-radius: 3px !important;
  }
  .hb-outline-button {
    background: transparent !important;
    color: #ff7a59 !important;
    border-radius: 3px !important;
    &:hover {
      background: transparent !important;
    }
  }
  .app-name {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
  .intro-card-container {
    background: #ffffff;
    box-shadow: 0px 0px 4px 0px #a3a3a340;
    border-radius: 5px;
  }
  .trigger-app-container {
    background: #ffffff;
    width: 62px;
    height: 62px;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 4px 4px 0px #0000001a;
    border-radius: 6px;
  }
  
  /* Connection package */
  .connection-container {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #a3a3a340;
  }
  .book-consultation-btn {
    background-color: #1293e5 !important;
    height: 49px !important;
    border: 1px solid #1293e5 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .unlink-btn {
    background-color: #ffdcdd !important;
    border: 1px solid #f2545b !important;
    border-radius: 3px !important;
    color: #f2545b !important;
    height: 27px !important;
    font-size: 13px !important;
    width: 65px !important;
  }
  
  /* Dropdown */
  .install-flow-dropdown {
    .setup-dropdown {
      width: 75%;
      background: #f2f5f7 !important;
      height: 50px !important;
      border: 1px solid #f2f5f7 !important;
      color: #213343 !important;
      text-align: left !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 9px 14px !important;
      border-radius: 3px !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
      color: #213343 !important;
    }
    .setup-dropdown-color {
      background: #f2f5f7 !important;
      height: 50px !important;
      border: 1px solid #f2f5f7 !important;
      text-align: left !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 9px 14px !important;
      border-radius: 3px !important;
      width: 100% !important;
      overflow: hidden !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
      color: red !important;
    }
    .setup-dropdown-menu-container {
      overflow-y: auto;
      height: 200px;
      width: 400px;
      font-size: 13px !important;
    }
    .dropdown-search-container {
      background-color: #eaf0f6;
    }
    .dropdown-item {
      font-size: 14px !important;
    }
    .dropdown-search {
      font-size: 14px;
      padding: 5px;
      border-radius: 3px;
      font-size: 14px;
      padding-left: 10px;
      border: none;
    }
    .dropdown-search-box {
      background-color: #ffffff;
    }
    .dropdown-search:focus {
      outline: none;
    }
  }
  .settings-dropdown {
    .setup-dropdown {
      background: #f2f5f7 !important;
      height: 50px !important;
      border: 1px solid #f2f5f7 !important;
      text-align: left !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 9px 14px !important;
      border-radius: 3px !important;
      width: 100% !important;
      overflow: hidden !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
      color: #213343 !important;
    }
    .setup-dropdown-color {
      background: #f2f5f7 !important;
      height: 50px !important;
      border: 1px solid #f2f5f7 !important;
      text-align: left !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 9px 14px !important;
      border-radius: 3px !important;
      width: 100% !important;
      overflow: hidden !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
      color: red !important;
    }
    .setup-dropdown-menu-container {
      overflow-y: auto;
      height: 200px;
      width: 300px;
      font-size: 13px !important;
    }
    .dropdown-search-container {
      background-color: #eaf0f6;
    }
    .dropdown-item {
      font-size: 14px !important;
    }
    .dropdown-search {
      font-size: 14px;
      padding: 5px;
      border-radius: 3px;
      font-size: 14px;
      padding-left: 10px;
      border: none;
    }
    .dropdown-search-box {
      background-color: #ffffff;
    }
    .dropdown-search:focus {
      outline: none;
    }
  }
  
  /*Add pipeline*/
  .selected-pipeline-container {
    border: 1px solid #b8cada;
    height: 50px;
  }
  
  /* Horizontal Progress bar */
  .horizontal-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .circles-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active-page {
    width: 24px;
    height: 24px;
    border: 1px solid #33475b;
    background: #33475b;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .not-active-page {
    width: 24px;
    height: 24px;
    border: 1px solid #b8cada;
    background: #fff;
    border-radius: 50%;
  }
  .line {
    height: 2px;
    width: 40%;
    background: #b8cada;
  }
  .labels-container {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: "row";
    justify-content: space-between;
  }
  
  /* side bar */
  .sidebar-header {
    background-image: linear-gradient(-303deg, #00a4bd, #00afb2 56%, #00bda5);
    color: #ffffff;
  }
  .sidebar-label-input {
    background-color: #f5f8fa !important;
    border: 1px solid #cbd6e2 !important;
  }
  .side-bar-dropdown {
    background-color: #f5f8fa !important;
    border: 1px solid #cbd6e2 !important;
    height: 38px;
    border-radius: 5px;
  }
  .sidebar-footer {
    background-color: #f5f8fa;
    height: 100px;
  }
  .sidebar-cancel-button {
    color: #ffffff;
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    font-weight: 400;
    font-size: 12px;
    min-width: 120px;
    height: 30px;
    border-radius: 3px !important;
  
    &:hover {
      opacity: 0.8;
      background: #FF8F73 !important;
    }
  }
  
  .sidebar-create-button {
    background-color: #ff7a59 !important;
    border: 1px solid #ff7a59 !important;
    min-width: 80px;
    border-radius: 3px !important;
  }
  .sidebar-create-button:hover {
    opacity: 0.9;
  }
  .code-icon {
    color: #0091ae;
  }
  .hint-text {
    font-size: 10px;
    color: #516f90;
  }
  .form-label {
    color: #33475b;
    font-weight: 500;
    font-size: 14px;
  }
  
  // Settings
  .sync-settings-card {
    background-color: #ffffff !important;
    border: 1px solid #d2dbe6 !important;
    border-radius: 2px !important;
    margin-top: 27px;
    .sync-settings-card-body {
      background-color: #ffffff !important;
      color: #33475b !important;
      font-size: 14px !important;
      line-height: 150% !important;
      line-height: 19px !important;
      padding-left: 27px !important;
      padding-right: 27px !important;
      padding-top: 22px !important;
      padding-bottom: 22px !important;
    }
    .sync-settings-card-direction {
      margin-top: 40px;
      max-width: 50px;
    }
    .sync-settings-card-dropdown {
      background: #f2f5f7 !important;
      height: 50px !important;
      border: 1px solid #f2f5f7 !important;
      text-align: left !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 9px 14px !important;
      border-radius: 3px !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
      color: #213343 !important;
      width: 400px !important;
    }
    .dropdown-item {
      font-size: 14px !important;
    }  
  }
  .note-container {
    border: 1px solid #ff767c;
    background: #fef6f7;
    padding: 13px 14px 13px 14px;
    p {
      margin-bottom: 5px;
    }
  }
  .settings-selected-pipeline-container {
    border: 1px solid #3c5b78;
    border-radius: 5px;
  }
  .pipeline-delete-button {
    background-color: transparent;
    border: 0px;
    color: #3c5b78;
  }
  .pipeline-delete-button:hover {
    border: 1px solid #3c5b78;
  }
  .clear-data-btn {
    background-color: transparent !important;
    color: #ff7a59 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: 1px solid #ff7a59 !important;
    border-radius: 3px !important;
    min-width: 100px !important;
    border-radius: 8px !important;
  }
  .clear-data-btn:hover {
    background-color: #FF8F73 !important;
    color: #ffffff !important;
  }
  .disabled-dropdown {
    cursor: not-allowed !important;
  }
  .label-text {
    font-size: 13px;
    color: #33475b;
    font-weight: 500;
    line-height: 16.25px;
  }
  .info-circle-icon {
    color: #b8cada;
    height: 13px;
    width: 13px;
  }
  /* save changes button */
  .save-changes-disabled-button {
    background-color: #ff7a59 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: 0px !important;
    border-radius: 8px !important;
    min-width: 100px !important;
    opacity: 0.9;
    cursor: not-allowed !important;
  }
  .save-changes-button {
    background-color: #ff7a59 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: 0px !important;
    border-radius: 3px !important;
    min-width: 100px !important;
    &:hover {
      background-color: #FF8F73 !important;
    }
  }
  .nav-loading-container {
    height: 50vh;
  }
  /*modals*/
  .my-modal {
    .modal-content {
      background-color: transparent;
      border: 0px;
      width: 400px;
    }
  }
  .modal-msg-header {
    background-image: linear-gradient(90deg, #00a5bc 0%, #00bca6 100%);
    /* min-height: 150px; */
    width: 100%;
  }
  .modal-check-box {
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    cursor: pointer;
  }
  .modal-check-icon {
    color: #00bca6;
    font-size: 20px;
  }
  .modal-message {
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    word-wrap: break-word;
  }
  .modal-message {
    p {
      font-weight: 600 !important;
      font-size: 18px !important;
      color: #ffffff !important;
      text-align: center !important;
      margin-top: 20px !important;
      word-wrap: break-word !important;
      padding: 30px;
    }
  }
  .modal-msg-footer {
    background-color: #ffffff;
    min-height: 100px;
    padding: 10px;
    width: 100%;
  }
  
  /* Error Modal */
  .error-modal-header {
    background-color: #ff7a59;
    width: 100%;
  }
  .modal-error-box {
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    cursor: pointer;
  }
  .modal-cross-icon {
    color: #ff7a59;
    font-size: 20px;
  }
  .discard-changes-button {
    background-color: transparent !important;
    color: #ff7a59 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border: 1px solid #ff7a59 !important;
    border-radius: 3px !important;
    min-width: 100px !important;
    &:hover {
      background-color: #FF8F73 !important;
      color: #ffffff !important;
    }
  }
  .financial-window {
    background-color: #ffffff;
    border: 1px solid #d2dbe6;
    border-radius: 2px;
  }
  .financial-window h5 {
    font-size: 24px;
    color: #32465a;
    font-weight: 700;
  }
  .financial-window p {
    color: #32465a;
    font-size: 14px;
  }
  .financial-unordered-list {
    list-style-type: disc !important;
    font-size: 14px !important;
    color: #32465a !important;
  }
  .financial-window .search-params {
    color: #33475b;
    font-size: 14px;
    line-height: 150%;
    line-height: 19px;
  }
  .sync-window-direction {
    margin-top: 36px;
  }
  .financial-card-dropdown {
    background: #f2f5f7 !important;
    height: 50px !important;
    border: 1px solid #f2f5f7 !important;
    text-align: left !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 9px 14px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 21px !important;
    color: #213343 !important;
    width: 300px !important;
  }
  .dropdown-container {
    width: 300px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: 1px solid #eaf0f6;
  }
  
  /*hubspot settings save button*/
  .hb-save-changes-btn {
    color: #ffffff !important;
    background-color: #ff7a59 !important;
    font-size: 16px !important;
    height: 40px;
    min-width: 150px;
    border-radius: 3px !important;
    border: 0px !important;
    &:hover {
      background: #FF8F73 !important;
    }
  }
  .hb-disabled-btn {
    @extend .hb-save-changes-btn;
    opacity: 0.7;
  }
  .env-selection {
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #a3a3a340;
    border-radius: 6px;
    border: 1px solid #a3a3a340;
    .setup-fields-dropdown {
      width: 100%;
      background: #f2f5f7 !important;
      height: 50px !important;
      border: 1px solid #f2f5f7 !important;
      color: #213343 !important;
      text-align: left !important;
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      padding: 9px 14px !important;
      border-radius: 3px !important;
      font-size: 14px !important;
      font-weight: 300 !important;
      line-height: 21px !important;
      color: #213343 !important;
    }
    .setup-fields-dropdown-items-container {
      overflow-y: auto;
      height: 200px;
      width: 400px;
      font-size: 13px !important;
    }
    .save-changes-button {
      @extend .hb-save-changes-btn;
    }
  }
  // Settings
  .sync-settings-tabs {
    .nav-tabs {
      position: sticky;
      position: -webkit-sticky;
      top: 80px;
      border-bottom: 1px solid #cbd6e2 !important;
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: #fff;
      z-index: 1030;
    }
    .nav-link {
      background-color: #f5f8fa !important;
      color: #33475b !important;
      border-radius: 0px !important;
      border: 1px solid #cbd6e2 !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      height: 49px !important;
      min-width: 103px !important;
    }
    .nav-link.active {
      background-color: #ffffff !important;
      border-bottom: 1px solid #ffffff !important;
      border-radius: 2px 0px 0px 0px !important;
    }
    .nav-link.disabled {
      cursor: pointer !important;
    }
    .border-right {
      .nav-link.active {
        border-right: 0px !important;
      }
    }
    .border-left {
      .nav-link.active {
        border-left: 0px !important;
      }
    }
  }
  .settings-nested-tabs {
    .nav-tabs {
      position: sticky;
      position: -webkit-sticky;
      top: 149px;
      border-bottom: 1px solid #cbd6e2 !important;
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: #fff;
      z-index: 1030;
    }
    .nav-link {
      border: 0px !important;
      color: #33475b !important;
      font-weight: 400 !important;
      font-size: 14px !important;
      line-height: 150% !important;
      height: 49px !important;
      margin-right: 20px;
      background: transparent !important;
    }
    .nav-link.active {
      border-bottom: 3px solid #33475b !important;
    }
    .nav-link.disabled {
      color: grey !important;
    }
  }
  
  // Mapping Window
  .mapping-window {
    .search-header {
      .search-container {
        border: 1px solid #ccd7e2;
        background-color: #ffffff;
        border-radius: 1px;
  
        .search-input {
          background-color: transparent;
          border: none;
          height: 34px;
          border-radius: 3px;
          font-size: 13px;
          padding-left: 10px;
  
          &:focus {
            outline: none;
          }
        }
  
        .search-icon {
          color: #0091ae;
        }
      }
    }
  
    /* Pagination */
    .pagination-container {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5px;
      font-size: 14px;
  
      .page-num {
        padding: 6px 8px;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 600;
        color: #0091ae;
        text-decoration: none;
      }
      .page-num:hover {
        color: #007a8c;
        background-color: #eaf0f6;
      }
      .disabled {
        color: #b0c1d4;
        cursor: not-allowed;
      }
      .disabled:hover {
        color: #b0c1d4;
        background-color: transparent;
      }
      .active {
        background-color: #e5f5f8;
        border: 1px solid #8ed6e1;
        color: #0091ae;
      }
    }
  
    .table {
      border: 1px solid #dfe3eb !important;
      height: 100% !important;
  
      td {
        vertical-align: middle;
        height: 100% !important;
      }
  
      .table-header {
        background-color: #f5f8fa !important;
  
        .label {
          font-size: 12px;
          font-weight: 600 !important;
          color: #212d38 !important;
          background-color: #f5f8fa !important;
        }
      }
  
      .table-body {
        .window-button {
          font-size: 11px !important;
          line-height: 16.5px !important;
          min-width: 77px;
          height: 30px;
        }
  
        .edit-row {
          background-color: #f5f8fa !important;
          width: 100%;
          height: 70px;
        }
  
        .normal-row {
          width: 100%;
          height: 70px;
  
          &:hover {
            background-color: #f5f8fa !important;
          }
        }
  
        .mapping-dropdown {
          .toggle-dropdown {
            background-color: #f5f8fa !important;
            border: 1px solid #9fc5e9 !important;
            border-radius: 0px !important;
            height: 40px !important;
            width: 75% !important;
            text-align: left !important;
            overflow: hidden !important;
            font-size: 14px !important;
            color: #212d38 !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
  
          .dropdown-menu {
            box-shadow: 0px 4px 21px 0px #00000040;
            border: 1px solid #c7d6e2;
            color: #212d38 !important;
  
            .search-container {
              background-color: #eaf0f6 !important;
  
              .search {
                border: 1px solid #ccd7e2;
                background-color: #ffffff;
                border-radius: 1px;
  
                .search-input {
                  background-color: transparent;
                  border: none;
                  height: 34px;
                  border-radius: 3px;
                  font-size: 13px;
                  padding-left: 10px;
  
                  &:focus {
                    outline: none;
                  }
                }
  
                .search-icon {
                  color: #0091ae;
                }
              }
            }
          }
  
          .dropdown-items-container {
            overflow-y: auto;
            height: 200px;
            width: 300px;
          }
  
          .dropdown-item {
            font-size: 14px !important;
          }
        }
  
        .custom-product-dropdown {
          .toggle-dropdown {
            background-color: transparent !important;
            border: 0px !important;
            border-radius: 0px !important;
            width: 75% !important;
            color: #212d38 !important;
            display: flex;
            flex-direction: row;
            align-items: center;
  
            .badge-key {
              background-color: #f5f8fa !important;
              color: #33475b;
              border: 1px solid #7c98b6;
              font-weight: 600;
              font-size: 12px;
              border-radius: 0px;
            }
          }
  
          .dropdown-menu {
            box-shadow: 0px 4px 21px 0px #00000040;
            border: 1px solid #c7d6e2;
            color: #212d38 !important;
  
            .dropdown-items-container {
              overflow-y: auto;
              height: 200px;
              width: 300px;
            }
  
            .search-container {
              background-color: #eaf0f6 !important;
  
              .search {
                border: 1px solid #ccd7e2;
                background-color: #ffffff;
                border-radius: 1px;
  
                .search-input {
                  background-color: transparent;
                  border: none;
                  height: 34px;
                  border-radius: 3px;
                  font-size: 13px;
                  padding-left: 10px;
  
                  &:focus {
                    outline: none;
                  }
                }
  
                .search-icon {
                  color: #0091ae;
                }
              }
            }
          }
        }
  
        .cancel-button {
          @extend .window-button;
          border: 1px solid #f2545b !important;
          color: #f2545b !important;
          background-color: #ffffff !important;
  
          &:hover {
            opacity: 0.8;
          }
  
          &:disabled {
            cursor: not-allowed !important;
          }
        }
  
        .save-button {
          @extend .window-button;
          background-color: #ff7a59 !important;
          color: #ffffff !important;
          border: 1px solid #ff7a59 !important;
          border-radius: 3px !important;
          &:hover {
            background: #FF8F73 !important;
          }
  
          &:disabled {
            cursor: not-allowed !important;
          }
        }
  
        .edit-button,
        .delete-button {
          @extend .window-button;
          background-color: #eaf0f6 !important;
          border: 1px solid #c7d6e2 !important;
          color: #213343 !important;
  
          &:hover {
            opacity: 0.8;
          }
  
          &:disabled {
            cursor: not-allowed !important;
          }
        }
  
        .display-field-label {
          color: #33475b;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
  
          .description-text {
            color: #213343;
            font-size: 11px;
            line-height: 16.5px;
            font-weight: 400;
          }
  
          .error-text {
            color: #ff7a59;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }
    }
  
    .save-mapping {
      color: #ffffff !important;
      background-color: #ff7a59 !important;
      font-size: 16px !important;
      height: 40px;
      min-width: 150px;
      border-radius: 3px !important;
      border: 0px !important;
      &:hover {
        background: #FF8F73 !important;
      }
    }
  
    .save-mapping-disabled {
      @extend .save-mapping;
      opacity: 0.7;
    }
  }
  
  /*Accordion*/
  .accordion-item {
    border: none !important;
  }
  .accordion-button {
    background: #edeef0 !important;
    height: 25px;
    font-weight: 600;
    font-size: 11px;
    color: #192435 !important;
    border-radius: 0px !important;
  }
  .accordion-button:focus {
    box-shadow: none !important;
  }
  .accordion-button:after {
    display: none;
  }
  .accordion-body {
    padding: 10px 0 0 0 !important;
  }
  .accordion-title {
    font-size: 14px;
    color: #192435;
    font-weight: 600;
    line-height: 13px;
  }
  
  /* Subscription Cards */
  .pricing-card-button {
    background-color: #ff7a59 !important;
    border: 1px solid #ff7a59 !important;
    border-radius: 3px !important;
    height: 45px !important;
    width: 100% !important;
    font-size: 14px !important;
    font-weight: 650 !important;
    &:hover {
      background: #FF8F73 !important;
    }
  }
  .manage-billing-button {
    @extend .pricing-card-button;
    width: 285px !important;
  }
  .pricing-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    .pricing-cards-container {
      flex-wrap: wrap !important;
      justify-content: center !important;
    }
  }
  .pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    max-width: 300px !important;
    padding: 0px !important;
    background: #fff !important;
    /* margin-right: 20px; */
  }
  .pricing-card-header {
    background: linear-gradient(94.67deg, #5481cd 2.91%, #06a1be 100%);
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    min-height: 140px;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    h5 {
      font-size: 22px !important;
      font-weight: 400 !important;
      color: #ffffff !important;
    }
    p {
      color: #ffffff !important;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .pricing-card-price-container {
    h4 {
      font-weight: 600;
      font-size: 20px;
      color: #32465a;
      margin-top: 16px;
      text-align: center;
    }
    ul {
      list-style-type: disc;
      font-size: 14px;
      color: #213343 !important;
      padding-left: 0px;
      margin-top: 16px;
    }
    li {
      margin: 0 20px 0 40px;
      padding: 0px 0px 10px 0px;
      color: #213343 !important;
      font-size: 14px !important;
      line-height: 19.5px !important;
      opacity: 70% !important;
      span {
        color: #213343 !important;
        font-size: 14px !important;
        line-height: 19.5px !important;
      }
    }
  }
  .pricing-card-cancel-button {
    @extend .pricing-card-button;
    width: 100% !important;
    &:hover {
      opacity: 0.9;
    }
  }
  .pricing-card-button-disable {
    background-color: #b8cada !important;
    border: 1px solid #b8cada !important;
    width: 100% !important;
    font-size: 14px !important;
    font-weight: 650 !important;
    cursor: not-allowed !important;
    pointer-events: none;
    border-radius: 3px !important;
    height: 45px !important;
  }
  
  .subscription-info-container {
    border: 1px solid #ff767c;
    background: #fef6f7;
    padding: 13px 14px 13px 14px;
    border-radius: 8px;
    margin-top: 20px; 
    p {
      color: #213343;
      font-size: 14px;
      line-height: 22.5px;
      opacity: 70%;
      margin-bottom:0px;
      margin-top: 2px;
    }
    .info-icon {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }
  }
  
  /* Setup Guide*/
  .setup-guide {
    h1 {
      font-family: "Inter", sans-serif !important;
      font-weight: 600 !important;
      font-size: 32px !important;
      line-height: 38.73% !important;
      color: #363636 !important;
      span {
        color: #363636 !important;
      }
    }
    h2 {
      color: #363636 !important;
      font-size: 24px !important;
      font-weight: 600 !important;
      line-height: 29.05px !important;
      font-family: "Inter", sans-serif !important;
      span {
        color: #363636 !important;
      }
    }
    h3 {
      color: #33475b !important;
      font-size: 18px !important;
      font-weight: 400 !important;
      line-height: 22.5px !important;
      font-family: "Inter", sans-serif !important;
      span {
        color: #33475b !important;
      }
    }
    h4 {
      color: #33475b !important;
      font-size: 15px !important;
      font-weight: 500 !important;
      line-height: 18.75px !important;
      margin-bottom: 8px !important;
      font-family: "Inter", sans-serif !important;
      span {
        color: #33475b !important;
      }
    }
    h5 {
      color: #213343 !important;
      font-weight: 600 !important;
      font-size: 15px !important;
      line-height: 22.5px !important;
      font-family: "Inter", sans-serif !important;
      span {
        color: #213343 !important;
      }
    }
    p {
      color: #6b6b6b !important;
      font-size: 15px !important;
      font-weight: 400 !important;
      line-height: 24px !important;
      font-family: "Inter", sans-serif !important;
      margin-top: 12px !important;
      span {
        color: #6b6b6b !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        font-family: "Inter", sans-serif !important;
        margin-top: 12px !important;
      }
    }
    ol {
      margin-top: 5px !important;
      padding-left: 16px !important;
      li {
        color: #6b6b6b !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        margin-top: 12px !important;
        font-family: "Inter", sans-serif !important;
        span {
          color: #6b6b6b !important;
          font-size: 15px !important;
          font-weight: 400 !important;
          line-height: 24px !important;
          margin-top: 12px !important;
          font-family: "Inter", sans-serif !important;
        }
        img {
          width: 100% !important;
          margin: 12px 0 12px 0 !important;
          border: 1px solid grey !important;
          font-family: "Inter", sans-serif !important;
        }
      }
    }
    ul {
      margin-top: 5px !important;
      padding-left: 15px !important;
      li {
        color: #6b6b6b !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        margin-top: 12px !important;
        font-family: "Inter", sans-serif !important;
        span {
          color: #6b6b6b !important;
          font-size: 15px !important;
          font-weight: 400 !important;
          line-height: 24px !important;
          margin-top: 12px !important;
          font-family: "Inter", sans-serif !important;
        }
      }
    }
    img {
      width: 100% !important;
      margin: 12px 0 12px 0 !important;
      border: 1px solid grey !important;
      font-family: "Inter", sans-serif !important;
    }
  }
  
  .hubspot {
    h2 {
      color: #33475b !important;
      font-size: 24px !important;
      font-weight: 600 !important;
      line-height: 30px !important;
    }
    h3 {
      color: #33475b !important;
      font-size: 18px !important;
      font-weight: 400 !important;
      line-height: 22.5px !important;
    }
    h4 {
      color: #33475b !important;
      font-size: 15px !important;
      font-weight: 500 !important;
      line-height: 18.75px !important;
      margin-bottom: 8px !important;
    }
    h5 {
      color: #213343 !important;
      font-weight: 600 !important;
      font-size: 15px !important;
      line-height: 22.5px !important;
    }
    p {
      color: #213343 !important;
      font-size: 14px !important;
      line-height: 22.5px !important;
      opacity: 70% !important;
      span {
        color: #213343 !important;
        font-size: 14px !important;
        line-height: 22.5px !important;
      }
    }
    ol {
      margin-top: 5px !important;
      li {
        color: #1f1f1f !important;
        font-size: 13px !important;
        line-height: 19.5px !important;
        margin-top: 12px !important;
        opacity: 70% !important;
        strong {
          color: #1f1f1f !important;
        font-size: 13px !important;
        line-height: 19.5px !important;
        margin-top: 12px !important;
        }
        span {
          color: #1f1f1f !important;
          font-size: 14px !important;
          line-height: 19.5px !important;
          margin: 10px 0px 10px 0px !important;
        }
      }
    }
    ul {
      margin-top: 5px !important;
      li {
        color: #213343 !important;
        font-size: 14px !important;
        line-height: 19.5px !important;
        margin: 10px 0px 10px 0px !important;
        opacity: 70% !important;
        img {
          width: 100% !important;
          margin: 12px 0 12px 0 !important;
          border: 1px solid grey !important;
        }
        span {
          color: #1f1f1f !important;
          font-size: 14px !important;
          line-height: 19.5px !important;
          margin: 10px 0px 10px 0px !important;
          opacity: 70% !important;
        }
        strong {
          color: #1f1f1f !important;
          font-size: 14px !important;
          line-height: 19.5px !important;
          margin: 10px 0px 10px 0px !important;
        }
      }
    }
    img {
      width: 100% !important;
      margin: 12px 0 12px 0 !important;
      border: 1px solid grey !important;
    }
  }
  
  @keyframes fadeInBounce {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  // Floating button
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other elements */
    background-color: #ff7a59 !important;
    border: 1px solid #ff7a59 !important;
    color: white;
    border-radius: 50% !important;
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    animation: fadeInBounce 0.6s ease-in-out;
  
    &:hover {
      opacity: 0.8;
    }
  }
  
  // Driver.js popover
  .driver-popover {
    background-image: #ffffff !important;
    border-radius: 3px !important;
    color: #33475b;
    padding: 0px !important;
    width: 278px !important;
  
    .driver-popover-title {
      background-color: #6a78d1 !important;
      padding: 15px !important;
      color: #ffffff !important;
      font-weight: 500;
      font-size: 18px;
      line-height: 22.5px;
      margin-top: "8px" !important;
    }
  
    .driver-popover-description {
      font-size: 12px;
      color: #213343;
      font-weight: 400;
      line-height: 15.6px;
      padding: 12px 15px 12px 15px;
    }
  
    .driver-popover-close-btn {
      color: #ffffff !important;
      padding-right: 3px;
    }
  
    .driver-popover-footer {
      padding: 0px 15px 20px 15px;
    }
  
    .driver-popover-progress-text {
      color: #213343;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.4px;
    }
  
    .driver-popover-navigation-btns {
      font-weight: 500 !important;
  
      .driver-popover-prev-btn {
        border: 1px solid #ff7a59;
        color: #ff7a59;
        font-weight: 600 !important;
        border-radius: 3px;
        font-size: 12px;
        line-height: 15px;
  
        &:hover {
          opacity: 0.8;
          background-color: #ffffff;
        }
      }
  
      .driver-popover-next-btn {
        border: 1px solid #ff7a59;
        color: #ffffff;
        background-color: #ff7a59;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 100 !important;
        line-height: 15px;
        letter-spacing: 1px;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  